html,
body,
#root,
.thing-category-create-root {
  height: 100vh; }

.navbar {
  height: 7%; }

.container {
  height: 84%;
  margin-top: 10px; }

.container > form > .row:nth-child(1) {
  margin-bottom: 10px; }

.container > form,
.container > form > .row:nth-child(2) {
  height: 100%; }

.groups, .fields, .rules {
  margin: 2px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-top: 1px solid #ccc; }

.fields {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; }

.groups .actions {
  position: absolute;
  margin-top: 10px;
  right: 10px;
  bottom: 10px; }
  .groups .actions button, .groups .actions a {
    margin: 2px; }

.add-group, .add-rule, .add-field {
  padding: 0 !important;
  margin: 5px 0 5px 5px; }
  .add-group svg, .add-rule svg, .add-field svg {
    border-radius: 50%;
    border: 1px solid #ccc; }
  .add-group svg:active, .add-rule svg:active, .add-field svg:active {
    box-shadow: inset 0px 0px 10px #ccc; }

.group {
  padding: 10px 15px;
  position: relative; }
  .group input:focus {
    box-shadow: none; }
  .group.active {
    background-color: #eeffee !important; }
  .group:hover {
    background-color: #f4f7f4; }
  .group:not(.active):hover, .group:not(.active):hover input {
    cursor: pointer; }

.rm-group, .rm-field, .rm-rule {
  position: absolute;
  padding: 0 !important;
  top: 0;
  left: 9px; }
  .rm-group svg, .rm-field svg, .rm-rule svg {
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: white; }
  .rm-group svg:active, .rm-field svg:active, .rm-rule svg:active {
    box-shadow: inset 0px 0px 4px #ccc; }

.field {
  position: relative;
  padding: 10px 15px; }
  .field input {
    margin-bottom: 5px; }
  .field.active {
    background-color: #eeffee !important; }
  .field:not(.active):hover, .field:not(.active):hover input, .field:not(.active):hover select {
    cursor: pointer; }

.field-rule {
  position: relative;
  padding: 10px 15px; }
  .field-rule input {
    margin-bottom: 5px; }
  .field-rule .react-datepicker-wrapper, .field-rule .react-datepicker__input-container {
    width: 100%; }
  .field-rule .react-datepicker__close-icon {
    position: absolute;
    top: 50%;
    right: 2px; }
    .field-rule .react-datepicker__close-icon::after {
      background-color: transparent;
      color: black; }

.not-allowed {
  cursor: not-allowed !important; }
