html,
body,
#root,
.thing-category-create-root {
    height: 100vh;
}

.navbar {
    height: 7%;
}

.container {
    height: 84%;
    margin-top: 10px;
}

.container > form > .row:nth-child(1) {
    margin-bottom: 10px;
}

.container > form,
.container > form > .row:nth-child(2) {
    height: 100%;
}

.groups, .fields, .rules {
    margin: 2px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-top: 1px solid #ccc;
}

.fields {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.groups .actions {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    bottom: 10px;
    button, a {
        margin: 2px;
    }
}

.add-group, .add-rule, .add-field {
    padding: 0 !important;
    margin: 5px 0 5px 5px;
    svg {
        border-radius: 50%;
        border: 1px solid #ccc;
    }
    svg:active {
        box-shadow: inset 0px 0px 10px #ccc;
    }
}

.group {
    padding: 10px 15px;
    position: relative;
    input:focus {
        box-shadow: none;
    }
    &.active {
        background-color: rgb(238, 255, 238) !important;
    }
    &:hover {
        background-color: rgb(244, 247, 244);
    }
    &:not(.active):hover {
        &, input {
            cursor: pointer;
        }
    }
}

.rm-group, .rm-field, .rm-rule {
    position: absolute;
    padding: 0 !important;
    top: 0;
    left: 9px;
    svg {
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: white;
    }
    svg:active {
        box-shadow: inset 0px 0px 4px #ccc;
    }
}

.field {
    position: relative;
    padding: 10px 15px;
    input {
        margin-bottom: 5px;
    }
    &.active {
        background-color: rgb(238, 255, 238) !important;
    }
    &:not(.active):hover {
        &, input, select {
            cursor: pointer;
        }
    }
}

.field-rule {
    position: relative;
    padding: 10px 15px;
    input {
        margin-bottom: 5px;
    }
    .react-datepicker-wrapper, .react-datepicker__input-container {
        width: 100%;
    }
    .react-datepicker__close-icon {
        position: absolute;
        top: 50%;
        right: 2px;
        &::after {
            background-color: transparent;
            color: black;
        }
    }
}

.not-allowed {
    cursor: not-allowed !important;
}
