.thing-create-root .container {
  margin-top: 30px; }

.thing-create-root table.grid-inputs {
  width: 100%; }
  .thing-create-root table.grid-inputs th, .thing-create-root table.grid-inputs td {
    height: 25px;
    border: 1px solid #77abff; }
    .thing-create-root table.grid-inputs th input, .thing-create-root table.grid-inputs td input {
      display: block;
      width: 100%;
      height: 100%;
      border: none; }
    .thing-create-root table.grid-inputs th.add-parameter, .thing-create-root table.grid-inputs th.add-field, .thing-create-root table.grid-inputs td.add-parameter, .thing-create-root table.grid-inputs td.add-field {
      width: 25px; }
    .thing-create-root table.grid-inputs th.hidden, .thing-create-root table.grid-inputs td.hidden {
      border: none; }
