.thing-create-root {
    .container {
        margin-top: 30px;
    }
    table.grid-inputs {
        width: 100%;
        th, td {
            input {
                display: block;
                width: 100%;
                height: 100%;
                border: none;
            }
            &.add-parameter, &.add-field {
                width: 25px;
            }
            &.hidden {
                border: none;
            }
            height: 25px;
            border: 1px solid #77abff;            
        }
    }
}
